<nav>
    <div class="nav-wrapper navbar-custom ">
        <a href="/" class=" blue-grey-text text-darken-1">WAZIJOBS FOR CAMPUS</a>
        <ul id="nav-mobile" class="right">
            <button class = "btn"><a href="/">HOME</a></button>
            {% if user.is_authenticated %}
                <button class = "btn"><a href="/account">{{user.username}}</a></button>
                <button class = "btn"><a href="/logout">LOG OUT</a></button>
            {% else %}
                <button class = "btn"><a href="/register">REGISTER</a></button>
                <button class = "btn"><a href="/login">LOG IN</a></button>
            {% endif %}
        </ul>
    </div>
</nav>
